Django==1.4
Markdown==2.1.1
PyYAML==3.10
Pygments==1.5
South==0.7.5
argparse==1.2.1
commando==0.1.2a
dj-database-url==0.2.1
fs==0.4.0
hyde==0.8.4
paramiko==1.7.7.2
psycopg2==2.4.5
pycrypto==2.6
simplejson==2.6.0
smartypants==1.6.0.3
wsgiref==0.1.2
