{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="span4">
		<h1>{{ party.name }}</h1>
		<address>{{ party.address }}</address>
	</div>
	<div class="span8">
		Map goes here soon!
	</div>
</div>
<div class="row">
	<div class="span12">
	<table class="table">
		<theader>
			<tr>
				<th>Artist - Title</th>
				<th>Added at</th>
				<th>Votes</th>
				<th>Played at</th>
			</tr>
		</theader>
		<tbody>
			{% for song in songs %}
			<tr>
				<td>{{ song.title }}</td>
				<td>{{ song.added_at }}</td>
				<td>{{ song.votes }}</td>
				<td>
					{% if song.played %}
						{{ song.played }}
					{% else %}
						not yet
					{% endif %}
				</td>
			</tr>
			{% endfor %} 
		</tbody>
	</table>
	</div>
{% endblock %}