{% extends "base.html" %}

{% block container %}
<div class="row">
	<div class="span4">
		<img src="http://deejz.com/images/logo.png" height="150" style="margin-bottom:50px;">
		<h1>{{ party.name }}</h1>
		<h3><address>{{ party.address }}</address></h3>
	</div>
	<div class="span8">
		<div id="map" style="height: 300px"></div>
		<script language="javascript" type="text/javascript">
		  var map = new L.Map('map');
			var cloudmade = new L.TileLayer('http://{s}.tile.cloudmade.com/114aff8ee727412a9a66e68c2ad244bf/997/256/{z}/{x}/{y}.png', {
			    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			    maxZoom: 18
			});
			var partylocation = new L.LatLng({{ party.latitude }}, {{ party.longitude }}); // geographical point (longitude and latitude)
			map.setView(partylocation, 13).addLayer(cloudmade);
			var markerLocation = new L.LatLng({{ party.latitude }}, {{ party.longitude }});
			var marker = new L.Marker(markerLocation);
			map.addLayer(marker);
		</script>
	</div>
</div>
<div class="row">
	<div class="span12" style="margin-top: 20px;">
	<h2><img src="{{ STATIC_URL }}/img/icon-playlist.png" style="margin: 0 10px 6px 0;"/> The current playlist</h2>
	<table class="table">
		<theader>
			<tr>
				<th>Artist - Title</th>
				<th>Added at</th>
				<th><img src="{{ STATIC_URL }}/img/icon-liked.png" alt="Votes" /></th>
				<th>Played at</th>
			</tr>
		</theader>
		<tbody>
			{% for song in past_songs %}
			{% if song.is_current_song %}
			<tr style="color: #004369; font-weight: bold;">
			{% else %}
			<tr style="color: #ddd;">
			{% endif %}
				<td>{% if song.is_current_song %}<i class="icon-play"></i> {% endif %}{{ song.title }}</td>
				<td>{{ song.added_at }}</td>
				<td>{{ song.votes }}</td>
				<td>
					{% if song.played %}
						{{ song.played }}
					{% else %}
						not yet
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			{% for song in songs %}
			<tr>
				<td>{{ song.title }}</td>
				<td>{{ song.added_at }}</td>
				<td>{{ song.votes }}</td>
				<td>
					{% if song.played %}
						{{ song.played }}
					{% else %}
						not yet
					{% endif %}
				</td>
			</tr>
			{% endfor %} 
		</tbody>
	</table>
	<h2><img src="{{ STATIC_URL }}/img/icon-disliked.png" /> Songs that where vetoed</h2>
	</div>
{% endblock %}